<div class="jumbotron">
  <h1 class="display-4">Welcome to the Fridge App!</h1>
  <p class="lead">Never waste food again.</p>
  <hr class="my-4">
  <p>Add your fridge item to the list. We will send you a reminder 2 days before it expires..</p>
  
</div>


<h4>Sign in</h4>

<form action="/user_verify_credentials" method="post">
  <div>
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Enter your email..." type="text">
  </div>

  <div>
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Enter your password..." type="password">
  </div>

  <button>
    Sign in
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>



<hr>


<img src="https://images.unsplash.com/photo-1606859191214-25806e8e2423" class="img-fluid" alt="Fridge Photo">
