<div class="jumbotron">
  <h1 class="display-4">Welcome to the Fridge App!</h1>
  <p class="lead">Never waste food again.</p>
  <hr class="my-4">
  <p>Add your fridge item to the list. We will send you a reminder 2 days before it expires.</p>
  
</div>

<h1>Sign up</h1>

<form action="/insert_user" method="post" class="form-group">

  <div class="form-group">
    <label for="email_box">Email</label>
    <input id="email_box" name="query_email" placeholder="Choose an email..." type="text" class="form-control">
  </div>
                 
  <div class="form-group">
    <label for="name_box">Name</label>
      
    <input type="text" id="name_box" placeholder="First and last name..." name="query_name" class="form-control">
  </div>
         
  <div class="form-group">
    <label for="phone_number_box">Phone number</label>
      
    <input type="text" id="phone_number_box" placeholder="Include country code E.g. +1..." name="query_phone_number" class="form-control">
  </div>
         
    
  <div class="form-group">
    <label for="password_box">Password</label>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password" class="form-control">
  </div>

  <div class="form-group">
    <label for="password_confirmation_box">Password Confirmation</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password" class="form-control">
  </div>

  <button class="btn btn-primary">Sign Up</button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_in">Sign in</a> instead.
</p>


